<%- include('partials/header') %>

    <section class="aboutcontent">
        <h2>Hvað er þessi síða?</h2>
        <p>Þessi siða er lokaverkefni í VFOR2 áfanga í fb</p>
    </section>

    <%- include('partials/footer') %>